[data-component='button']
    display inline-block
    border 2px solid white
    padding 5px
    border-radius 5px
    transition 300ms ease-in-out
    font-family 'Open Sans'
    font-size 14px
    font-weight 500
    color white
    text-transform uppercase
    &:hover
        color white
        background-color #23b7a4
        border-color #23b7a4
        text-decoration none