[data-page='index']

    [data-section='we-are-modest']
        padding-top 60px
        padding-bottom 60px

        [data-component='numeric-items']
            margin-bottom 30px
            &:last-child
                margin-bottom 0